{% extends 'base.html' %}

{% block content %}
<div class="row text-center">
  <div class="col">
    <h2>Welcome Buddy to Twident!</h2>
  </div>
</div>


<div class="row" id="tweets">
  Replace me
</div>

<script>
  const tweetsElement = document.getElementById("tweets")
  tweetsElement.innerHTML = 'Loading...'
  const xhr = new XMLHttpRequest()
  const method = 'GET'
  const url = "/tweets"
  const responseType = "json"

  function handleDidLike(tweet_id, currentCount) {
    console.log(tweet_id, currentCount)
  }

  function LikeBtn(tweet) {
    return "<button class='btn btn-primary' onclick=handleDidLike("
    + tweet.id + "," + tweet.likes
    + ")>" + tweet.likes +" Likes</button>"
  }

  function formatTweetElement(tweet) {
    var formattedTweet = "<div class='col-12 col-md-10 mx-auto rounded border py-3 mb-4 tweet' id='tweet-"
         + tweet.id + "'> <p>" + tweet.content 
          + "</p> <div class='btn-group'>" + LikeBtn(tweet) 
          + "</div> </div>"
    return formattedTweet
  }

  xhr.responseType = responseType
  xhr.open(method, url)
  xhr.onload = function() {
    var serverResponse = xhr.response
    var listedItems = serverResponse.response
    var finalTweetStr = ""
    var i = 0
    for(i=0;i<listedItems.length;i++) {
      //console.log(i)
      //console.log(listedItems[i])
      var currentItem = formatTweetElement(listedItems[i])
      finalTweetStr += currentItem
    }
    tweetsElement.innerHTML = finalTweetStr
  }
  xhr.send()
</script>

{% endblock content %}